body {
  background-image: linear-gradient(135deg, #cdffd8, #94b9ff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font: 20px Georgia, serif;
}

/* The selector color was changed to fit the website's design better  */
::selection {
  background: #a9caff;
  color: #a27309;
}

/* the natural color for links was hard to read on my website, so it was shifted to a more readable color here */
a {
  color: #ffdc26;
}

/* a:hover was changed to make it easier for a user to know that they are hovering over a link */
a:hover {
  color: #db9000;
}

.topbar {
  background-color: #5170ff;
  display: flex; /* Using flex boxes helped to arrange the links in the top bar better */
  justify-content: center;
  position: sticky;
  overflow: hidden;
  top: 0;
  padding: 0.7em;
  border-bottom: 0.3em solid #004aad;
}

/* The padding of the topbar was stated to make the links further apart form each other */
.topbar a {
  font: 1.2em Impact, Georgia, serif;
  padding: 0.15em;
}

.content {
  flex: 1; /* This takes the remaining space, which pushes the footer down */
  font-size: 1.2em; /* This helps make the contents information larger without affecting anything else outside of it */
}

h1 {
  color: #db9000;
  text-align: center;
  font: 2.5em Impact, Georgia, serif;
  margin-top: 0.5em; /* The margin here is to add space between the topbar and the title */
}

.main-image {
  display: block; /* Displaying as a block here is necessary to center the image */
  margin: auto;
  width: 30em;
  max-width: 90%; /* max width is noted here to prevent images from going off the screen on smaller screen sizes */
  height: auto;
}

.info {
  background-color: #c9eaff;
  color: #9f7006;
  border: 0.1em solid #ffdc26;
  margin: 1em;
  padding: 0.75em;
  text-align: left;
  overflow: hidden; /* this line stops images from overflowing over the edge of the main box */
}

.info ul {
  overflow: hidden; /* stops bullet points from overlapping with floated images, since the overflow hidden in info itself doesn't seem to stop this */
}

h2 {
  margin: 0em; /* The h2 tag appeared to have an inbuilt top margin, which I didn't like, so this is here to remove that margin  */
  color: #b89e15;
  font-family: Impact, Georgia, serif;
}

.hook {
  text-align: center;
  margin: 0.3em;
}

.extra-info {
  text-align: center;
}

.right-images {
  float: right;
  width: 20em;
  max-width: 100%; /* max width is noted here to prevent images from going off the screen on smaller screen sizes */
  height: auto;
  margin-left: 0.5em; /* margin is added here to only the left side, so that the text doesn't press right up to the image */
}

.left-images {
  float: left;
  width: 20em;
  max-width: 100%; /* max width is noted here to prevent images from going off the screen on smaller screen sizes */
  height: auto;
  margin-right: 0.5em; /* margin is added here to only the right side, so that the text doesn't press right up to the image */
}

footer {
  background-color: #004aad;
  color: #ffdc26;
  border-top: 0.3em solid #5170ff;
  padding: 1em 0.7em 0.7em;
}

footer a {
  color: inherit;
}

.logo {
  float: right;
  filter: invert(100%); /* This inversion here is to make the logo more visible */
  width: 10em;
  max-width: 50%; /* max width is noted here to prevent images from going off the screen on smaller screen sizes */
  height: auto;
  margin: 1em;
}