body {
  background-image: linear-gradient(135deg, #cdffd8, #94b9ff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 }

ul.topbar {
  position: fized;
  background-color: #5170ff;
  display: flex;
  justify-content: center;
  padding: 1em 0.7em 0.7em;
  margin: -1em;
  border-bottom: 0.3em solid #004aad;
  font-size: 1.25em;
  font-family: Gagalin, Impact, Georgia;
}

.topbar li {
  display: inline;
}

.topbar a {
  color: #ffdc26;
  padding: 0.15em;
}

.main_content {
    flex: 1;
}

h1.main_heading {
  color: #db9000;
  text-align: center;
  font-family: Gagalin, Impact, Georgia;
  font-size: 2.5em;
}

.main_info {
    background-color: #c9eaff;
    border: 0.1em solid #ffdc26;
    color: #9f7006;
    margin: 1em;
    padding: 0.3em;
    text-align: left;
}

.main_info p {
    padding: inherit;
}

#secondary_hook {
    text-align: center;
    padding: inherit;
}

.footer {
    margin: -1em;
    background-color: #004aad;
    border-top: 0.3em solid #5170ff;
    padding: 1em 0.7em 0.7em;
    position: relative;
    top: 1.5em;
    width: 100%;
}