body {
  background-image: linear-gradient(135deg, #cdffd8, #94b9ff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font: 20px Georgia;
}

.topbar {
  background-color: #5170ff;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 0.7em;
  border-bottom: 0.3em solid #004aad;
  font: 1.5em Impact, Georgia;
}

.topbar a {
  color: #ffdc26;
  padding: 0.15em;
}

.content {
    flex: 1; /* This takes the remaining space, which pushes the footer down */
    font-size: 1.2em;
}

h1 {
  color: #db9000;
  text-align: center;
  font: 2.5em Impact, Georgia;
  margin-top: 0.5em; /* The margin here is to add space between the topbar and the title */
}

.main-image {
  display: block;
  margin: auto;
  width: 30em;
  max-width: 90%;
  height: auto;
}

.info {
  background-color: #c9eaff;
  border: 0.1em solid #ffdc26;
  color: #9f7006;
  margin: 1em;
  padding: 0.75em;
  text-align: left;
  overflow: hidden; /* this line stops images from overflowing over the edge of the main box */
}

.info ul {
  overflow: hidden; /* stops bullet points from overlapping with floated images, since the overflow hidden in info itself doesn't seem to stop this */
}

h2 {
  margin: 0em;
  color: #b89e15;
  font-family: Impact, Georgia;
}

.hook {
  text-align: center;
  margin: 0.1em;
}

#right-heading {
  clear:right; /* this prevents the heading and body paragraphs from being stacked against the image to the right */
}

.extra-info {
  text-align: center;
}

#paragraph-clear {
  clear: left; /* this specific paragraph had issues with being squashed between the two images to its left and right, so the clear here is to prevent that */
}

.right-images {
  float: right;
  width: 20em;
  max-width: 100%;
  height: auto;
  margin-left: 0.5em; /* margin is added here to only the left side, so that the text doesn't press right up to the image */
}

.left-images {
  float: left;
  overflow: hidden;
  width: 20em;
  max-width: 100%;
  height: auto;
  margin-right: 0.5em; /* margin is added here to only the right side, so that the text doesn't press right up to the image */
}

footer {
  overflow: hidden;
  background-color: #004aad;
  color: #ffdc26;
  border-top: 0.3em solid #5170ff;
  padding: 1em 0.7em 0.7em;
  position: relative;
  top: 1.5em;
}

footer a {
 color: inherit;
}